<header class="header">
    <a href="/" class="header-logo">Inscription</a>

    <nav class="header-nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/timeline" class="">Timeline</a>
            </li>
            <li>
                <a href="/upload-founder" class="">Upload Founder</a>
            </li>
        </ul>

    </nav>
    <div class="header-button">
        <button class="searchBtn" aria-expanded="false">
            Search
        </button>
    </div>
</header>