<div class="founders">
    <h1 class="founders-heading">Timeline</h1>
    <p class="founders-body">A timeline of all the successful founders throughout history.</p>
</div>

<img src="/img/founders-hero.jpg" alt="A collage of founders" class="hero-image">

<section class="founder">
    <h2 class="founder-heading">Select Founder</h2>

    <div class="timeline">
        <div class="checkpoint">
            <div>
                <h2>Sol Price</h2>
                <p><strong>Childhood:</strong></p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae rem cupiditate animi accusantium amet laborum exercitationem itaque perferendis explicabo. Deleniti distinctio nesciunt, architecto at consequatur libero et alias. Non, aliquid?</p>
                <p><strong>Personality Traits:</strong></p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae rem cupiditate animi accusantium amet laborum exercitationem itaque perferendis explicabo. Deleniti distinctio nesciunt, architecto at consequatur libero et alias. Non, aliquid?</p>
                <p><strong>Business Practices:</strong></p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae rem cupiditate animi accusantium amet laborum exercitationem itaque perferendis explicabo. Deleniti distinctio nesciunt, architecto at consequatur libero et alias. Non, aliquid?</p>
                <p><strong>Unique Strategies:</strong></p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae rem cupiditate animi accusantium amet laborum exercitationem itaque perferendis explicabo. Deleniti distinctio nesciunt, architecto at consequatur libero et alias. Non, aliquid?</p>
                <p><strong>Legacy:</strong></p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae rem cupiditate animi accusantium amet laborum exercitationem itaque perferendis explicabo. Deleniti distinctio nesciunt, architecto at consequatur libero et alias. Non, aliquid?</p>
            </div>
        </div>
        <div class="checkpoint">
            <div>
                <h2>Sol Price</h2>
                <p><strong>Childhood:</strong></p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae rem cupiditate animi accusantium amet laborum exercitationem itaque perferendis explicabo. Deleniti distinctio nesciunt, architecto at consequatur libero et alias. Non, aliquid?</p>
                <p><strong>Personality Traits:</strong></p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae rem cupiditate animi accusantium amet laborum exercitationem itaque perferendis explicabo. Deleniti distinctio nesciunt, architecto at consequatur libero et alias. Non, aliquid?</p>
                <p><strong>Business Practices:</strong></p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae rem cupiditate animi accusantium amet laborum exercitationem itaque perferendis explicabo. Deleniti distinctio nesciunt, architecto at consequatur libero et alias. Non, aliquid?</p>
                <p><strong>Unique Strategies:</strong></p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae rem cupiditate animi accusantium amet laborum exercitationem itaque perferendis explicabo. Deleniti distinctio nesciunt, architecto at consequatur libero et alias. Non, aliquid?</p>
                <p><strong>Legacy:</strong></p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae rem cupiditate animi accusantium amet laborum exercitationem itaque perferendis explicabo. Deleniti distinctio nesciunt, architecto at consequatur libero et alias. Non, aliquid?</p>
            </div>
        </div>
    </div>
        
</section>

<script type="text/javascript" defer src="/js/timeline.js"></script>
